{
    "fuzzer_configs": {
        "ISensorsActivate_fuzzer": {
            "fuzzer_params": {
                "max_len": 5
            },
            "corpus": []
        },
        "ISensorsBatch_fuzzer": {
            "fuzzer_params": {
                "max_len": 24,
                "max_total_time": 600
            },
            "corpus": []
        },
        "ISensorsFlush_fuzzer": {
            "fuzzer_params": {
                "max_len": 4
            },
            "corpus": [
                "\x3b\x00\x00\x00"
            ]
        },
        "ISensorsInjectSensorData_fuzzer": {
            "fuzzer_params": {
                "max_len": 80,
                "max_total_time": 1800
            },
            "corpus": []
        },
        "ISensorsPoll_fuzzer": {
            "fuzzer_params": {
                "max_len": 4
            },
            "corpus": []
        },
        "ISensorsSetDelay_fuzzer": {
            "fuzzer_params": {
                "max_len": 12
            },
            "corpus": []
        }
    }
}
