{
    "test_bed":
    [
        {
            "name": "VTS-Kernel-LTP",
            "AndroidDevice": "*"
        }
    ],
    "log_path": "/tmp/logs",
    "test_paths": ["../"],
    "use_gae_db": true,
    "run_staging": false,
    "run_32bit": true,
    "run_64bit": false,
    "number_of_threads": 1
}
