{
    "fuzzer_configs": {
        "IPowerPowerHint_fuzzer": {
            "fuzzer_params": {
                "max_len": 8
            },
            "corpus": []
        },
        "IPowerSetFeature_fuzzer": {
            "fuzzer_params": {
                "max_len": 5
            },
            "corpus": []
        }
    }
}
