{
    "fuzzer_configs": {
        "ILightSetLight_fuzzer": {
            "fuzzer_params": {
                "max_len": 30
            },
            "corpus": [
                "\x01\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00"
            ]
        }
    }
}
