{
    "test_bed":
    [
        {
            "name": "VTS-HAL-Light-Fuzz-Standalone",
            "AndroidDevice": "*"
        }
    ],
    "log_path": "/tmp/logs",
    "test_paths": ["./"],
    "gene_pool_size": 10,
    "iteartion_count": 10,
    "use_gae_db": true,
    "coverage_src_files": ["lights.bullhead-vts/lights.c"]
}
